# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore IDE specific folders (e.g., VSCode)
.vscode/
.idea/

# Ignore node modules for JavaScript projects
node_modules/

# ignore build
build/.exe
Object/.o
